# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# SQLite database
*.db

Add-Content .gitignore "`nallure-results/`nallure-report/"


# IDE
.idea/

# Pytest
.pytest_cache/
allure-results/
allure-report/
